@value makerGreen, makerWhite from '../../common/colors.css';
.btn_submit {
	background-color: makerGreen;
	color: makerWhite;
	font-weight: 800;
	cursor: pointer;
	padding: 0.5rem;
	flex: 1 1 50%;
	font-size: 0.8rem;
	width: 100%;
}

.btn_submit:hover {
	opacity: 0.8;
}
