.form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-top: 1px solid makerBlack;
	border-left: 1px solid makerBlack;
	margin-bottom: 2rem;
}

.input,
.textarea,
.select,
.img_input,
.button {
	font-size: 0.8rem;
	width: 100%;
	border: 0;
	padding: 0.5rem;
	border-bottom: 1px solid makerBlack;
	border-right: 1px solid makerBlack;
	background: makerWhite;
}

.input,
.select {
	flex: 1 1 30%;
}

.fileInput {
	padding: 0;
	flex: 1 1 50%;
}

.button {
	flex: 1 1 50%;
}

.input:focus,
.select:focus,
.textarea:focus,
.button:focus {
	outline: 0;
}

.textarea {
	flex-basis: 100%;
}
