@value makerWhite, makerGreen from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.form {
	width: 50%;
	height: 100%;
	background-color: makerWhite;
	padding: 0.5rem 2rem;
	text-align: center;
	overflow: scroll;
}

.title {
	color: makerGreen;
	font-weight: 800;
}

@media (max-width: mediaQuery) {
	.form {
		width: 100%;
	}
}
