@value makerWhite, makerGreen from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.preview {
	width: 50%;
	height: 100%;
	padding: 0 2rem;
	background-color: makerWhite;
	text-align: center;
	overflow: scroll;
}

.nameCardList {
	padding-left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	color: makerGreen;
	font-weight: 800;
}

@media (max-width: mediaQuery) {
	.preview {
		width: 100%;
	}
}
